:root {
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;

    user-select: none !important;
    touch-action:none;
    -webkit-user-select: none !important;
    -webkit-touch-callout: none !important;
}

body {
    cursor: pointer;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: start;

    user-select: none !important;
    -webkit-user-select: none !important;
    -webkit-touch-callout: none !important;
    touch-action:none;
    overflow: hidden;
}

body * {
    cursor: pointer;
    user-select: none !important;
    -webkit-user-select: none !important;
    -webkit-touch-callout: none !important;
}

iframe {
    user-select: none !important;
    -webkit-user-select: none !important;
    -webkit-touch-callout: none !important;

    margin: auto;
    padding: 0;
    border: 0;
    flex-basis: 100vw;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    box-sizing: border-box;
}
